<div class="panel-body">

                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label" for="inputDefault">Titol</label>
                            <input type="text" class="form-control" id="inputDefault" ng-model="titol"><br/>
                            <label class="control-label" for="inputDefault">Isbn</label>
                            <input type="text" class="form-control" id="inputDefault" ng-model="isbn"><br/>
                            <label class="control-label" for="inputDefault">Autor</label>
                            <input type="text" class="form-control" id="inputDefault" ng-model="autors"><br/>
                            <label class="control-label" for="inputDefault">Date</label>
                            <input type="text" class="form-control" id="inputDefault" ng-model="date">
                            <br/>
                            <div class="btn-group btn-group-justified">
                                <a class="btn btn-default" ng-click="afegirLlibre()">Afegir Llibre</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-8">

                        <div class="panel panel-default" ng-repeat="llibre in llibres | orderBy:'-date'">
                            <div class="panel-body">
                                <h4 class="list-group-item-heading">{{llibre.titol}}</h4>
                                <p class="list-group-item-text"><strong>Isbn: </strong>{{llibre.isbn}}</p>
                                <a class="btn btn-success btn-xs" ng-click="editarLlibre()">Editar</a>
                                <a class="btn btn-danger btn-xs" ng-click="borrarLlibre(llibre)">Esborrar</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>